.App {
  display: grid;
  text-align: center;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  font-size: small;
  letter-spacing: 1px;
}

.App-header {
  font-family: neon;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(20px + 2vmin);
  padding: 3rem 0;
  color: rgb(255, 105, 180, 0.35);
  text-shadow: 0 0 20px rgba(205, 205, 177, 0.92),
    0 0 30px rgba(31, 31, 20, 0.42), 0 0 40px rgba(31, 31, 20, 0.62);
}

.App-content {
  overflow-y: auto;
}

.App-footer {
  padding: 10px;
  color:rgb(255, 105, 180);
}

@font-face {
  font-family: neon;
  src: url(AUTOMANI.TTF)
}
