.App {
  display: grid;
  text-align: center;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  font-size: small;
  letter-spacing: 1px;
}

.App-header {
  font-family: 'Monoton', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(15px + 3vmin);
  padding: 3rem 0;
  color: rgb(255, 105, 180, 0.70);
  text-shadow: 0 0 20px #4d4d4d, 0 0 40px #4d4d4d, 0 0 75px black
}

.App-content {
  overflow-y: auto;
}

.App-footer {
  padding: 10px;
  color:rgb(255, 105, 180);
}